.figure_container .figure_first {
  background: url("../img/bg/left_1mob.png");
  width: 108px;
  height: 387px;
  position: absolute;
  top: 60%;
}
.figure_container .figure_second {
  position: absolute;
  width: 221px;
  height: 413px;
  background: url("../img/bg/right_1mob.png");
  right: 0;
  top: 90%;
}
.figure_container .figure_third {
  position: absolute;
  width: 191px;
  height: 387px;
  background: url("../img/bg/right_2mob.png");
  right: 0;
  top: 170%;
}
.figure_container .figure_fourth {
  background: url("../img/bg/left_2mob.png");
  width: 295px;
  height: 373px;
  position: absolute;
  top: 220%;
}
.figure_container .figure_fifth {
  background: url("../img/bg/right_3mob.png");
  width: 253px;
  height: 399px;
  position: absolute;
  right: 0;
  top: 280%;
}

.block5__box {
  background: white;
  -webkit-box-shadow: 0 4px 19px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 19px rgba(0, 0, 0, 0.25);
}

.block1,
.block2,
.block3,
.block4,
.block5,
.block6,
.block7,
.footer {
  -webkit-transition: ease-out;
  transition: ease-out;
}

.empty {
  width: 100vw;
  height: 260%;
  position: absolute;
  background: transparent;
  top: -300px;
}

.block3 {
  position: relative;
  z-index: 20;
}

.block4 {
  position: relative;
  z-index: 3;
}

.block2, .block5, .block1, .block6, .block7, .footer {
  position: relative;
  z-index: 15;
}

.block7__wrapper {
  padding-bottom: 20px;
}

@media (min-width: 752px) {
  .empty {
    width: 100vw;
    height: 260%;
    position: absolute;
    background: transparent;
    top: -600px;
  }

  .block3 {
    position: relative;
    z-index: 20;
  }

  .block4 {
    position: relative;
    z-index: 15;
  }

  .block2, .block5, .block1, .block6, .block7, .footer {
    position: relative;
    z-index: 15;
  }
}
.header__body:before {
  content: "";
  display: block;
  position: absolute;
  background: #ffde7a;
  width: 100%;
  height: 100%;
  z-index: 20;
  -webkit-transform: translate(-100%, 0px);
          transform: translate(-100%, 0px);
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  opacity: 0;
}

body._lock .header__body:before {
  content: "";
  display: block;
  position: absolute;
  background: #ffde7a;
  width: 100%;
  height: 100%;
  z-index: 20;
  -webkit-transform: translate(0, 0px);
          transform: translate(0, 0px);
  opacity: 1;
}

.header__logo-name {
  position: relative;
  z-index: 25;
}

.block7__form {
  position: relative;
}
.block7__form .form_result {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 80%;
  background: white;
  text-align: center;
}
.block7__form .form_result p {
  font-size: 24px;
  font-weight: 600;
  padding-top: 150px;
}
.block7__form .form_result #form_result_text {
  padding: 0;
  font-weight: normal;
  padding-top: 8px;
}

@media (max-width: 752px) {
  .block7__form .form_result p {
    font-size: 12px;
    font-weight: 600;
    padding-top: 150px;
  }
  .block7__form .form_result #form_result_text {
    padding: 0;
    font-weight: normal;
    padding-top: 8px;
  }
  .block7__form .form_result .circle-loader {
    top: 15px;
  }
}
.circle-loader {
  margin-bottom: 3.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-left-color: #5cb85c;
  -webkit-animation: loader-spin 1.2s infinite linear;
          animation: loader-spin 1.2s infinite linear;
  position: absolute;
  top: 0;
  left: calc(50% - 50px);
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  width: 7em;
  height: 7em;
}

.load-complete {
  -webkit-animation: none;
  animation: none;
  border-color: #5cb85c;
  -webkit-transition: border 500ms ease-out;
  transition: border 500ms ease-out;
}

.checkmark {
  display: none;
}
.checkmark.draw:after {
  -webkit-animation-duration: 800ms;
          animation-duration: 800ms;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-name: checkmark;
          animation-name: checkmark;
  -webkit-transform: scaleX(-1) rotate(135deg);
          transform: scaleX(-1) rotate(135deg);
}
.checkmark:after {
  opacity: 1;
  height: 3.5em;
  width: 1.75em;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  border-right: 3px solid #5cb85c;
  border-top: 3px solid #5cb85c;
  content: "";
  left: 1.75em;
  top: 3.5em;
  position: absolute;
}

@-webkit-keyframes loader-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loader-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: 1.75em;
    opacity: 1;
  }
  40% {
    height: 3.5em;
    width: 1.75em;
    opacity: 1;
  }
  100% {
    height: 3.5em;
    width: 1.75em;
    opacity: 1;
  }
}
@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: 1.75em;
    opacity: 1;
  }
  40% {
    height: 3.5em;
    width: 1.75em;
    opacity: 1;
  }
  100% {
    height: 3.5em;
    width: 1.75em;
    opacity: 1;
  }
}
@media (min-width: 754px) {
  .block2__counter-counter {
    background: transparent;
  }
  .block2__counter-counter .counter:before {
    content: "";
    display: block;
    position: absolute;
    width: 280px;
    height: 56px;
    left: 0;
    top: -3px;
    background: #ffd561;
    -webkit-animation: counter 2s infinite ease-out;
            animation: counter 2s infinite ease-out;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    z-index: -10;
  }

  @-webkit-keyframes counter {
    from {
      left: 30%;
      width: 5px;
    }
    to {
      left: 50%;
      width: 250px;
    }
  }

  @keyframes counter {
    from {
      left: 30%;
      width: 5px;
    }
    to {
      left: 50%;
      width: 250px;
    }
  }
  .figure_container .figure_first {
    background: url("../img/bg/left_1.png");
    width: 353px;
    height: 782px;
    position: absolute;
    top: 70%;
  }
  .figure_container .figure_second {
    position: absolute;
    width: 453px;
    height: 708px;
    background: url("../img/bg/right_1.png");
    right: 0;
    top: 80%;
  }
  .figure_container .figure_third {
    position: absolute;
    width: 420px;
    height: 897px;
    background: url("../img/bg/right_2.png");
    right: 0;
    top: 210%;
  }
  .figure_container .figure_fourth {
    background: url("../img/bg/left_2.png");
    width: 499px;
    height: 671px;
    position: absolute;
    top: 250%;
  }
  .figure_container .figure_fifth {
    display: none;
    background: url("../img/bg/right_3.png");
    width: 470px;
    height: 845px;
    position: absolute;
    right: 0;
    top: 330%;
  }

  .header__link {
    position: relative;
  }

  .header__link:hover:before {
    opacity: 1;
  }
}

.scale_container {
  transform: scale(80%);
  overflow: hidden;
  margin-top: calc(-300px + (50 + -300) * ((100vw - 768px) / (1920 - 768)));
}

.block1__text {
  transform: scale(80%);
}
.block1__content-slider_desktop {
  transform: scale(80%);
}

.footer {
  margin-top: -350px;
}

.block1__background {
  background: black;
}


@media (max-width: 1920px) {
  .scale_container {
    margin-top: calc(-300px + (50 + -300) * ((100vw - 768px) / (1920 - 768)));
  }
}
@media (max-width: 900px) {
  .scale_container {
    margin-top: calc(-380px + (50 + -300) * ((100vw - 768px) / (1920 - 768)));
  }
}
@media (min-width: 2200px) {
  .scale_container {
    margin-top: calc(-125px + (50 + -300) * ((100vw - 768px) / (1920 - 768)));
  }
}


@media (max-width: 784px) {
  .block7__wrapper {
    border: 1px solid black;
    -webkit-box-shadow: 0 4px 19px rgba(0, 0, 0, 0.25);
            box-shadow: 0 4px 19px rgba(0, 0, 0, 0.25);
  }

  .scale_container {
    transform: scale(100%);
    margin-top: 0;
  }

  .block1__text {
    transform: scale(100%);
  }
  .block1__content-slider_desktop {
    transform: scale(100%);
  }

  .footer {
    margin-top: 30px;
  }
}
