.block1 {
	overflow: hidden;
	z-index: 1;
	position: relative;
	width: 100%;
	padding-bottom: 80px;
	font-family: $ff1;
}

.block1__background {
	margin: -78px auto 0 auto;

	width: 100%;
	height: 853px;
	top: 0;
	left: 0;
	z-index: 1;
	padding-top: 0.1px;
}
.block1__text {
	width: 985px;
	margin-left: 200px;
	margin-top: 327px;
	z-index: 1;
	color: #fff;
}
.block1__title {
	font-size: 72px;
	line-height: 88px;
	font-weight: 900;
}
.block1__subtitle {
	font-weight: 500;
	font-size: 48px;
	line-height: 58px;
	margin-top: 26px;
}

.block1__content-slider {
	overflow-x: hidden;
	width: 100%;
}

.block1__content-wrapper {
	margin-top: 116px;
	display: flex;
	height: 200px;
}

.block1__content-box,
.block1__content-box_desktop {
	width: 254px;
	height: 200px;
	background-color: #ffd561;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-weight: 700;
}

.block1__content-title {
	text-align: 24px;
	font-size: 24px;
	text-align: center;
}
.block1__content-line {
	border: 1px solid #000000;
	width: 173px;
	height: 1px;
	margin: 11px 0 30px 0;
}
@media (min-width: 769px) {
	.flip-card {
		background-color: transparent;
		width: calc(100px + (254 - 100) * ((100vw - 320px) / (1920 - 320)));
		height: calc(108px + (178 - 108) * ((100vw - 320px) / (1920 - 320)));
		perspective: 1000px;
	}

	.flip-card-inner {
		position: relative;
		width: 100%;
		height: 100%;
		text-align: center;
		transition: transform 0.6s;
		transform-style: preserve-3d;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	}

	.flip-card:hover .flip-card-inner {
		transform: rotateY(180deg);
	}

	.flip-card-front,
	.flip-card-back {
		position: absolute;
		width: 100%;
		height: 100%;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	}

	.flip-card-front {
		background-color: #ffd561;
		color: black;
	}

	.flip-card-back {
		background-color: #ffd561;
		color: black;
		transform: rotateY(180deg);
		font-weight: 500;
		font-size: 14px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 10px;
	}
	/*
	</style>
	</head>
	<body>
	
	<h1>Card Flip with Text</h1>
	<h3>Hover over the image below:</h3>
	
	<div class="flip-card">
	  <div class="flip-card-inner">
		 <div class="flip-card-front">
			<img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;">
		 </div>
		 <div class="flip-card-back">
			<h1>John Doe</h1> 
			<p>Architect & Engineer</p> 
			<p>We love that guy</p>
		 </div>
	  </div>
	</div>
	
	</body>
	</html>

*/
}

@media (max-width: 769px) {
	.flip-card {
		background-color: transparent;
		width: calc(100px + (254 - 100) * ((100vw - 320px) / (1920 - 320)));
		height: calc(108px + (178 - 108) * ((100vw - 320px) / (1920 - 320)));
		perspective: 1000px;
	}

	.flip-card-inner {
		position: relative;
		width: 100%;
		height: 100%;
		text-align: center;
		transition: transform 0.6s;
		transform-style: preserve-3d;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	}

	.flip-card:hover .flip-card-inner {
		transform: rotateY(180deg);
	}

	.flip-card-front,
	.flip-card-back {
		position: absolute;
		width: 100%;
		height: 100%;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	}

	.flip-card-front {
		background-color: #ffd561;
		color: black;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.flip-card-back {
		background-color: #ffd561;
		color: black;
		transform: rotateY(180deg);
		font-weight: 500;
		font-size: 12px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 10px;
	}
	/*
	</style>
	</head>
	<body>
	
	<h1>Card Flip with Text</h1>
	<h3>Hover over the image below:</h3>
	
	<div class="flip-card">
	  <div class="flip-card-inner">
		 <div class="flip-card-front">
			<img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;">
		 </div>
		 <div class="flip-card-back">
			<h1>John Doe</h1> 
			<p>Architect & Engineer</p> 
			<p>We love that guy</p>
		 </div>
	  </div>
	</div>
	
	</body>
	</html>

*/
}
@media (max-width: 1920px) {
	.block1 {
		padding: 1px 0 0 0;
		padding-bottom: calc(20px + (150 - 20) * ((100vw - 320px) / (1920 - 320)));
	}
	.block1__text {
		width: calc(305px + (985 - 305) * ((100vw - 320px) / (1920 - 320)));
		margin-left: calc(15px + (200 - 15) * ((100vw - 320px) / (1920 - 320)));
		margin-top: calc(190px + (327 - 294) * ((100vw - 320px) / (1920 - 320)));
	}
	.block1__title {
		font-size: calc(27px + (78 - 27) * ((100vw - 320px) / (1920 - 320)));
		line-height: calc(28px + (88 - 28) * ((100vw - 320px) / (1920 - 320)));
		white-space: wrap;
	}
	.block1__subtitle {
		font-size: calc(18px + (48 - 18) * ((100vw - 320px) / (1920 - 320)));
		line-height: calc(22px + (58 - 22) * ((100vw - 320px) / (1920 - 320)));
		margin-top: calc(8px + (26 - 8) * ((100vw - 320px) / (1920 - 320)));
	}
	.block1__content-wrapper {
		margin-top: calc(136px + (116 - 136) * ((100vw - 320px) / (1920 - 320)));
	}
	.block1__content-box_desktop {
		width: calc(100px + (254 - 100) * ((100vw - 320px) / (1920 - 320)));
		height: calc(108px + (178 - 108) * ((100vw - 320px) / (1920 - 320)));
	}
	.block1__content-title {
		text-align: 24px;
		font-size: calc(12px + (24 - 12) * ((100vw - 320px) / (1920 - 320)));
	}
	.block1__content-line {
		width: calc(103px + (173 - 103) * ((100vw - 320px) / (1920 - 320)));
		margin: 11px 0 30px 0;
	}
}

@media (min-width: 769px) {
	.block1__content-wrapper {
		justify-content: space-evenly;
	}
	.block1__content-slider_mobile {
		display: none;
		overflow: hidden;
		z-index: 1000;
	}
}
@media (max-width: 768px) {
	.block1__content-slider_desktop {
		display: none;
	}
	div.swiper-slide {
		height: 130px;
	}
	.block1__content-title {
		font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (768 - 320)));
	}
	.block1__content-line {
		width: calc(100px + (170 - 100) * ((100vw - 320px) / (768 - 320)));
	}
	.block1__content-subtitle {
		font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (768 - 320)));
	}
}
