.heading__portfolio {
	margin-top: 68px;
	margin-bottom: 30px;
}
.block6 {
	width: 100%;
	font-family: $ff1;
}
.block6__wrapper {
	width: 1305px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.block6__box {
	width: 635px;
	height: 356px;
	display: flex;
	align-items: flex-end;
	background-position: 0 0;
	position: relative;
	overflow: hidden;
	padding: 0.1px;
	display: flex;
	align-items: center;
}
.block6__text {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	transition: all 0.7s ease 0s;
	font-weight: 500;
	font-size: 18px;
	color: #fff;
	align-items: flex-end;
}
.block6__transition-top {
	color: #fff;
	margin-top: 10px;
	margin-right: 10px;
	top: -50%;
	height: 30px;
	div {
		width: 114px;
		height: 30px;
		background: rgba(0, 0, 0, 0.54);
		backdrop-filter: blur(6px);
		display: flex;
		flex-direction: row;
		align-items: center;
		font-weight: 500;
		border-radius: 14px;
		justify-content: center;
		p {
			margin-top: 2px;
			font-size: 12px;
			margin-left: 5px;
		}
	}
}
.block6__transition-img {
	width: 14px;
	height: 14px;
}
.block6__transition-bottom {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.54);
	backdrop-filter: blur(6px);
	top: 100px;
	transition: all 0.7s ease 0s;
	width: 100%;
	height: 80px;
	span {
		margin: 0 15px;
		text-align: center;
		line-height: 20px;
	}
}
.block6__box:hover {
	.block6__transition-bottom {
		top: 0px;
		transition: all 0.7s ease 0s;
	}
}
.block6__transition-bottom {
	height: calc(60px + (80 - 60) * ((100vw - 320px) / (1920 - 320)));
}
/* .block6__box:hover {
	.block6__text {
		height: 100%;
		transition: all 0.7s ease 0s;
	}
} */

.block6__box {
	margin: 10px 0;
}
.block6__box_img {
	width: 635px;
	height: 356px;
}

@media (max-width: 1920px) {
	.heading__portfolio {
		margin-top: calc(50px + (70 - 50) * ((100vw - 320px) / (1920 - 320)));
		margin-bottom: calc(20px + (30 - 20) * ((100vw - 320px) / (1920 - 320)));
	}
	.block6__wrapper {
		width: calc(660px + (1305 - 660) * ((100vw - 768px) / (1920 - 768)));
	}
	.block6__box {
		width: calc(300px + (635 - 300) * ((100vw - 768px) / (1920 - 768)));
		height: calc(170px + (356 - 170) * ((100vw - 768px) / (1920 - 768)));
		.block6__box_img {
			width: calc(300px + (635 - 300) * ((100vw - 768px) / (1920 - 768)));
			height: calc(170px + (356 - 170) * ((100vw - 768px) / (1920 - 768)));
		}
	}

	.block6__text {
		.block6__transition-bottom {
			font-size: calc(9px + (16 - 9) * ((100vw - 320px) / (1920 - 320)));
			span {
				line-height: calc(13px + (16 - 13) * ((100vw - 320px) / (1920 - 320)));
			}
		}
	}
}

@media (max-width: 768px) {
	.block6__box {
		width: 310px;
		height: 170px;
		.block6__box_img {
			width: 310px;
			height: 170px;
		}
	}
	.block6__wrapper {
		width: calc(300px + (660 - 300) * ((100vw - 320px) / (768 - 320)));
		height: 100%;
	}
}
