.block2 {
	width: 100%;
	font-family: $ff1;
}
.block2__wrapper {
	width: 1920px;
	margin: 0 auto;
}
.heading {
	font-size: 48px;
}
.block2__heading {
	width: 1200px;
	margin: 60px auto;
	text-align: center;
	font-weight: 500;
}
.block2__slider-box {
	//background-color: #000;
}
.block2__content-slider {
	width: 1100px;
	margin: 0 auto;
	overflow: hidden;
}
.swiper-container {
}
.block2__content-wrapper {
}
.swiper-wrapper {
}
.block2__content-box {
	text-align: center;
}
.swiper-slide {
}
.block6__box_img {
	width: 970px;
}

.block2__text {
	margin: 0 auto;
	width: 765px;
	font-weight: 500;
	font-size: 24px;
}
.block2__title {
	font-weight: 700;
}
.block2__subtitle {
	margin-top: 5px;
	margin-bottom: 20px;
}
