.block1 {
	z-index: 1;
	position: relative;
	width: 100%;
	padding-bottom: 80px;
	padding: 1px 0 0 0;
}

.block1__background {
	margin: -150px auto 0 auto;
	width: 100%;
	height: calc(280px + 150px);
	top: 0;
	left: 0;
	z-index: -1;
	padding-top: 0.1px;
	overflow: hidden;
	canvas {
		width: 200vh;
		height: 5000px;
	}
}

@media (max-width: 1920px) {
	.block1 {
		//padding-bottom: calc(20px + (150 - 20) * ((100vw - 320px) / (1920 - 320)));
	}
}
