.complexity {
	width: 100%;
	font-family: $ff1;
}
.complexity__wrapper {
	width: 550px;
	margin: 0 auto;
}
.heading__complexity {
	margin-top: 60px;
	margin-bottom: 27px;
}

.complexity__colomn {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 19px 0;
	p {
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
		width: 480px;
	}
}
.complexity__numder {
	font-weight: 700;
	font-size: 72px;
	color: #ffd561;
	width: 50px;
	opacity: 0.5;
}
@media (max-width: 570px) {
	.complexity__wrapper {
		width: calc(300px + (550 - 300) * ((100vw - 320px) / (570 - 320)));
	}
	.heading__complexity {
		margin-top: calc(60px + (60 - 30) * ((100vw - 320px) / (570 - 320)));
		margin-bottom: calc(15px + (27 - 15) * ((100vw - 320px) / (570 - 320)));
	}

	.complexity__colomn {
		p {
			font-size: calc(13px + (18 - 13) * ((100vw - 320px) / (570 - 320)));
			line-height: calc(17px + (22 - 17) * ((100vw - 320px) / (570 - 320)));
			width: calc(300px + (480 - 300) * ((100vw - 320px) / (570 - 320)));
		}
	}
}
