/*-------------------Montserrat-------------------*/
$ff1: montserrat;

@font-face {
	font-family: "montserrat";
	src: url("../../../fonts/montserrat/eot/Montserrat-Black.eot");
	src: url("../../../fonts/montserrat/otf/Montserrat-Black.otf") format("opentype"),
		url("../../../fonts/montserrat/svg/Montserrat-Black.svg") format("svg"),
		url("../../../fonts/montserrat/woff/Montserrat-Black.woff") format("woff"),
		url("../../../fonts/montserrat/ttf/Montserrat-Black.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: "montserrat";
	src: url("../../../fonts/montserrat/eot/Montserrat-BlackItalic.eot");
	src: url("../../../fonts/montserrat/otf/Montserrat-BlackItalic.otf") format("opentype"),
		url("../../../fonts/montserrat/svg/Montserrat-BlackItalic.svg") format("svg"),
		url("../../../fonts/montserrat/woff/Montserrat-BlackItalic.woff") format("woff"),
		url("../../../fonts/montserrat/ttf/Montserrat-BlackItalic.ttf") format("truetype");
	font-weight: 900;
	font-style: italic;
}
@font-face {
	font-family: "montserrat";
	src: url("../../../fonts/montserrat/eot/Montserrat-Bold.eot");
	src: url("../../../fonts/montserrat/otf/Montserrat-Bold.otf") format("opentype"),
		url("../../../fonts/montserrat/svg/Montserrat-Bold.svg") format("svg"),
		url("../../../fonts/montserrat/woff/Montserrat-Bold.woff") format("woff"),
		url("../../../fonts/montserrat/ttf/Montserrat-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "montserrat";
	src: url("../../../fonts/montserrat/eot/Montserrat-BoldItalic.eot");
	src: url("../../../fonts/montserrat/otf/Montserrat-BoldItalic.otf") format("opentype"),
		url("../../../fonts/montserrat/svg/Montserrat-BoldItalic.svg") format("svg"),
		url("../../../fonts/montserrat/woff/Montserrat-BoldItalic.woff") format("woff"),
		url("../../../fonts/montserrat/ttf/Montserrat-BoldItalic.ttf") format("truetype");
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: "montserrat";
	src: url("../../../fonts/montserrat/eot/Montserrat-ExtraBold.eot");
	src: url("../../../fonts/montserrat/otf/Montserrat-ExtraBold.otf") format("opentype"),
		url("../../../fonts/montserrat/svg/Montserrat-ExtraBold.svg") format("svg"),
		url("../../../fonts/montserrat/woff/Montserrat-ExtraBold.woff") format("woff"),
		url("../../../fonts/montserrat/ttf/Montserrat-ExtraBold.ttf") format("truetype");
	font-weight: 950;
	font-style: normal;
}
@font-face {
	font-family: "montserrat";
	src: url("../../../fonts/montserrat/eot/Montserrat-ExtraBoldItalic.eot");
	src: url("../../../fonts/montserrat/otf/Montserrat-ExtraBoldItalic.otf") format("opentype"),
		url("../../../fonts/montserrat/svg/Montserrat-ExtraBoldItalic.svg") format("svg"),
		url("../../../fonts/montserrat/woff/Montserrat-ExtraBoldItalic.woff") format("woff"),
		url("../../../fonts/montserrat/ttf/Montserrat-ExtraBoldItalic.ttf") format("truetype");
	font-weight: 950;
	font-style: italic;
}
@font-face {
	font-family: "montserrat";
	src: url("../../../fonts/montserrat/eot/Montserrat-ExtraLight.eot");
	src: url("../../../fonts/montserrat/otf/Montserrat-ExtraLight.otf") format("opentype"),
		url("../../../fonts/montserrat/svg/Montserrat-ExtraLight.svg") format("svg"),
		url("../../../fonts/montserrat/woff/Montserrat-ExtraLight.woff") format("woff"),
		url("../../../fonts/montserrat/ttf/Montserrat-ExtraLight.ttf") format("truetype");
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: "montserrat";
	src: url("../../../fonts/montserrat/eot/Montserrat-ExtraLightItalic.eot");
	src: url("../../../fonts/montserrat/otf/Montserrat-ExtraLightItalic.otf") format("opentype"),
		url("../../../fonts/montserrat/svg/Montserrat-ExtraLightItalic.svg") format("svg"),
		url("../../../fonts/montserrat/woff/Montserrat-ExtraLightItalic.woff") format("woff"),
		url("../../../fonts/montserrat/ttf/Montserrat-ExtraLightItalic.ttf") format("truetype");
	font-weight: 200;
	font-style: italic;
}
@font-face {
	font-family: "montserrat";
	src: url("../../../fonts/montserrat/eot/Montserrat-Italic.eot");
	src: url("../../../fonts/montserrat/otf/Montserrat-Italic.otf") format("opentype"),
		url("../../../fonts/montserrat/svg/Montserrat-Italic.svg") format("svg"),
		url("../../../fonts/montserrat/woff/Montserrat-Italic.woff") format("woff"),
		url("../../../fonts/montserrat/ttf/Montserrat-Italic.ttf") format("truetype");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: "montserrat";
	src: url("../../../fonts/montserrat/eot/Montserrat-Light.eot");
	src: url("../../../fonts/montserrat/otf/Montserrat-Light.otf") format("opentype"),
		url("../../../fonts/montserrat/svg/Montserrat-Light.svg") format("svg"),
		url("../../../fonts/montserrat/woff/Montserrat-Light.woff") format("woff"),
		url("../../../fonts/montserrat/ttf/Montserrat-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "montserrat";
	src: url("../../../fonts/montserrat/eot/Montserrat-LightItalic.eot");
	src: url("../../../fonts/montserrat/otf/Montserrat-LightItalic.otf") format("opentype"),
		url("../../../fonts/montserrat/svg/Montserrat-LightItalic.svg") format("svg"),
		url("../../../fonts/montserrat/woff/Montserrat-LightItalic.woff") format("woff"),
		url("../../../fonts/montserrat/ttf/Montserrat-LightItalic.ttf") format("truetype");
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: "montserrat";
	src: url("../../../fonts/montserrat/eot/Montserrat-Medium.eot");
	src: url("../../../fonts/montserrat/otf/Montserrat-Medium.otf") format("opentype"),
		url("../../../fonts/montserrat/svg/Montserrat-Medium.svg") format("svg"),
		url("../../../fonts/montserrat/woff/Montserrat-Medium.woff") format("woff"),
		url("../../../fonts/montserrat/ttf/Montserrat-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "montserrat";
	src: url("../../../fonts/montserrat/eot/Montserrat-MediumItalic.eot");
	src: url("../../../fonts/montserrat/otf/Montserrat-MediumItalic.otf") format("opentype"),
		url("../../../fonts/montserrat/svg/Montserrat-MediumItalic.svg") format("svg"),
		url("../../../fonts/montserrat/woff/Montserrat-MediumItalic.woff") format("woff"),
		url("../../../fonts/montserrat/ttf/Montserrat-MediumItalic.ttf") format("truetype");
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: "montserrat";
	src: url("../../../fonts/montserrat/eot/Montserrat-Regular.eot");
	src: url("../../../fonts/montserrat/otf/Montserrat-Regular.otf") format("opentype"),
		url("../../../fonts/montserrat/svg/Montserrat-Regular.svg") format("svg"),
		url("../../../fonts/montserrat/woff/Montserrat-Regular.woff") format("woff"),
		url("../../../fonts/montserrat/ttf/Montserrat-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "montserrat";
	src: url("../../../fonts/montserrat/eot/Montserrat-SemiBold.eot");
	src: url("../../../fonts/montserrat/otf/Montserrat-SemiBold.otf") format("opentype"),
		url("../../../fonts/montserrat/svg/Montserrat-SemiBold.svg") format("svg"),
		url("../../../fonts/montserrat/woff/Montserrat-SemiBold.woff") format("woff"),
		url("../../../fonts/montserrat/ttf/Montserrat-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "montserrat";
	src: url("../../../fonts/montserrat/eot/Montserrat-SemiBoldItalic.eot");
	src: url("../../../fonts/montserrat/otf/Montserrat-SemiBoldItalic.otf") format("opentype"),
		url("../../../fonts/montserrat/svg/Montserrat-SemiBoldItalic.svg") format("svg"),
		url("../../../fonts/montserrat/woff/Montserrat-SemiBoldItalic.woff") format("woff"),
		url("../../../fonts/montserrat/ttf/Montserrat-SemiBoldItalic.ttf") format("truetype");
	font-weight: 600;
	font-style: italic;
}
@font-face {
	font-family: "montserrat";
	src: url("../../../fonts/montserrat/eot/Montserrat-Thin.eot");
	src: url("../../../fonts/montserrat/otf/Montserrat-Thin.otf") format("opentype"),
		url("../../../fonts/montserrat/svg/Montserrat-Thin.svg") format("svg"),
		url("../../../fonts/montserrat/woff/Montserrat-Thin.woff") format("woff"),
		url("../../../fonts/montserrat/ttf/Montserrat-Thin.ttf") format("truetype");
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: "montserrat";
	src: url("../../../fonts/montserrat/eot/Montserrat-ThinItalic.eot");
	src: url("../../../fonts/montserrat/otf/Montserrat-ThinItalic.otf") format("opentype"),
		url("../../../fonts/montserrat/svg/Montserrat-ThinItalic.svg") format("svg"),
		url("../../../fonts/montserrat/woff/Montserrat-ThinItalic.woff") format("woff"),
		url("../../../fonts/montserrat/ttf/Montserrat-ThinItalic.ttf") format("truetype");
	font-weight: 100;
	font-style: italic;
}

/*-------------------Bebas Neue-------------------*/

$ff2: bebas_neue;
@font-face {
	font-family: "bebas_neue";
	src: url("../../../fonts/bebas_neue/eot/BebasNeueBold.eot");
	src: url("../../../fonts/bebas_neue/otf/BebasNeueBold.otf") format("opentype"),
		url("../../../fonts/bebas_neue/svg/BebasNeueBold.svg") format("svg"),
		url("../../../fonts/bebas_neue/woff/BebasNeueBold.woff") format("woff"),
		url("../../../fonts/bebas_neue/ttf/BebasNeueBold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}
